In [1]:
seq = [1,2,3,4,5]

In [9]:
t = lambda var:var*2

In [14]:
list(map(lambda var:var*3,seq))

[3, 6, 9, 12, 15]

In [12]:
t(6)

12

In [16]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

In [17]:
s = 'Hello my name is Sam'

In [18]:
s.lower()

'hello my name is sam'

In [19]:
s.upper()

'HELLO MY NAME IS SAM'

In [20]:
s.split()

['Hello', 'my', 'name', 'is', 'Sam']

In [21]:
tweet = 'Go Sports! #Sports'

In [25]:
tweet.split('#')[1]

'Sports'