In [1]:
mystring = 'Hello'

In [3]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [4]:
mylist

['H', 'e', 'l', 'l', 'o']

In [5]:
mylist = [letter for letter in mystring]

In [6]:
mylist

['H', 'e', 'l', 'l', 'o']

In [12]:
mylist = [qwe for qwe in 'wordtwo']

In [13]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [18]:
mylist = [num**2 for num in range(0,11)]

In [19]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]

In [23]:
mylist

[0, 4, 16, 36, 64, 100]

In [28]:
celsius = [0,10,20,34.5]
farenheit = [(9/5*temp + 32) for temp in celsius]

In [29]:
farenheit

[32.0, 50.0, 68.0, 94.1]

In [30]:
farenheit = []

for temp in celsius:
    farenheit.append(9/5*temp + 32)

In [31]:
farenheit

[32.0, 50.0, 68.0, 94.1]

In [32]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,11)]

In [33]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [36]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [37]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [38]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [39]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]